  <div data-role="header">
            <div class="rest-area new">

                <div class="guest-content">
                    <ul>
                        <li id="filterBackButton"><img src="image/arrow.png" /></li>
                        <li>
                            <h2>Guest Detail</h2>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div role="main">


            <div class="room-area">
                <div class="room-content">
                    <ul>
                        <li>
                            <h2 id="roomFilterCountText">1</h2>
                        </li>
                        <li>
                            <p>Room</p>
                        </li>
                    </ul>
                </div>
                <div class="room-plus">
                    <ul>
                        <li><a id="roomFilterMinusButton"><img src="image/minus.png" /></a></li>
                        <li><a id="roomFilterPlusButton"><img src="image/plus.png" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="room-area">
                <div class="room-content">
                    <ul>
                        <li>
                            <h2 id="adultFilterCountText">2</h2>
                        </li>
                        <li>
                            <p>Adults</p>
                        </li>
                    </ul>

                </div>
                <div class="room-plus">
                    <ul>
                        <li><a id="adultCountMinusButton"><img src="image/minus.png" /></a></li>
                        <li><a id="adultCountPlusButton"><img src="image/plus.png" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="room-area">
                <div class="room-content">
                    <ul>
                        <li>
                            <h2 id="childtFilterCountText">0</h2>
                        </li>
                        <li>
                            <p>Children</p>
                        </li>
                    </ul>
                </div>
                <div class="room-plus">
                    <ul>
                        <li><a id="childCountMinusButton"><img src="image/minus.png" /></a></li>
                        <li><a id="childCountPlusButton"><img src="image/plus.png" /></a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div data-role="footer">
            <div class="ok-button">
                <button id="filterSubmitButton" class="ok">Ok</button>
            </div>

        </div>