
.segmented-control { text-align:center; }
.segmented-control .ui-controlgroup { display:inline; margin:.2em 0px; }
#map-page { width:100%; height:100%; }
#map-canvas { width:100%; height:100%; margin-top:-30px; padding:0px!important; }
#gmap-marker-link { color:#00a0df; text-decoration:none; }
.ui-gmap-canvas { width:100%; height:100%; }
.ui-gmap-infobox { display:none; }
#show-more .ui-li-heading { text-align:center; }
#show-more .ui-icon { visibility:hidden; }
.ui-li-has-count .ui-li-count { border-color:transparent; }
.wrap { white-space:normal; }
.search_header i {
    margin-left: 16px;
    font-size: 16px;
    color: #000;
}
.search_header h4 {
    display: inline-block;
    margin: 0px 15px;
    font-size: 18px; 
	font-weight: normal;
    /* letter-spacing: 3px; */
}
.search_header {
    padding: 20px 0px;
	border-bottom: 1px solid #bababa;
}
a.searchright {
    float: right;
    margin-right: 16px;
	    margin-top: 2px;
}
.ui-grid-b {
    text-align: center;
	    BACKGROUND: #fff;
}
.ui-bar.ui-bar-a {
    color: #3770bf;
    text-transform: uppercase;
}
.in-field input {
    text-align: center;
	
}
.ui-grid-b {
    text-align: center;
}
input[type="text"]::placeholder {
    color: #8b8b8b;
    font-weight: 600;
	    text-align: center;
	
}
.search-user span {
        color: #8b8b8b;
    text-transform: capitalize;
    font-weight: 600;
    padding: 1px 0;
    display: inline-block;
    position: relative;
    top: 7px;
}
.search-user i {
    position: relative;
    top: 7px;
}
.wix {
    height: 105px;
}

.sear-left:before {
    content: '';
    width: 0;
    height: 58%;
    position: absolute;
    border: 1px solid #f1f1f1;
    top: 80px;
    right: 119px;
    z-index: 1;
}
.sear-center:before {
    content: '';
    width: 0;
    height: 58%;
    position: absolute;
    border: 1px solid #f1f1f1;
    top: 80px;
    left: 119px;
    z-index: 1;
}
.search-image {
    margin-top: 35px;
}
.search-image img {
    width: 100%;
}
.search-image img {
    width: 100%;
}
.search-image span {
    font-size: 10px;
    background: #000;
    padding: 6px 8px;
    position: relative;
    top: -3px;
    font-weight: normal;
}
.search-image h2 {
    font-size: 16px;
    /* font-weight: normal; */
    /* margin-top: 0px; */
}
.search-image h4 {
    font-size: 16px;
}
.search-image h4, h2, h6 {
	color: #fff;
	    font-weight: normal;

}
h6.sear-rgt {
    float: right;
    margin-right: 30px;
    margin-top: -61px;
    font-size: 24px;
    font-weight: normal;
}
.sear-left input {
    text-align: center;
    margin: 0px 12px;
	    color: #8b8b8b;
}
.sear-center input {
    text-align: center;
    margin: 0px 12px;
		    color: #8b8b8b;

}
.search-image {
    position: relative;
    font-family: Arial;
}
.text-block {
    position: absolute;
    margin-top: -48px;    left: 0;
    /* background-color: black; */
    color: white;
    padding-left: 15px;
}
.text-block1 {
    position: absolute;
    margin-top: -32px;
    right: 0;
    /* background-color: black; */
    color: white;
    padding-right: 15px;
}
h5.sear-star span {
    background: none;
}

.text-block1 h3 {
    font-size: 16PX;
    font-weight: normal;
}
h5.sear-star {
    margin-left: 15px;
    font-size: 20px;
    margin-top: 19px;
}
.search-space {
    margin-top: 50%;
}
.list-item {
    box-shadow: 1px 1px 5px 6px #f1f1f1;
    /* margin-top: 38px; */
}
h5.sear-star span {
    color: #fb9d00;
    font-size: 15px;
    margin: 0px 4px;
}
.sea-spa {
    margin-top: 55%;
}
.sear-cion p {
display: INLINE-FLEX;
    position: relative;
    top: -26px;
    font-size: 16px;
    margin-left: 20px;
}
.sea-fixed {
    position: fixed;
    /* height: 343px; */
    background: #fff;
    z-index: 1;
    width: 100%;
}
.sear-cion i {
    font-size: 22px;
    /* margin-left: 12px; */
}.sear-cion {
    margin-left: 15px;
    margin-top: 12px;
}

#mapPage,#mapCanvas { width: 100%; height: 100%; padding: 0; }